<section class="profile__section profile-change-password profile__change-password" id="profile-change-password-form">
    <div class="profile__container">
        {{#> custom-form action="/login" className="profile-form" id="profile-form"}}
            <table class="profile-table profile__table profile-form__table">
                <tbody>
                    {{> text-row-editable label="Старый пароль" name="old_password"}}
                    {{> text-row-editable label="Новый пароль" name="new_password"}}
                    {{> text-row-editable label="Повторить пароль" name="repeat-new-password"}}
                </tbody>
            </table>
            {{> custom-button className="button profile-form__button" type="submit" text="Сохранить"}}
        {{/custom-form}}
    </div>
</section>
