<section class="profile__section profile-change-password profile__change-password" id="profile-change-password-form">
    <div class="profile__container">
        {{{ProfileChangePasswordForm}}}
    </div>
</section>
