{{#> form-page-layout}}
    <h1 class="form-header form-block__header">Вход</h1>
    {{{ LoginForm method="POST" action="/" class="form" id="login-from" ref="login-form"}}}
    <div class="form-block__link-wrapper">
        {{{ Link className="link form-block__link" href="/registration" text="Нет аккаунта?" }}}
    </div>
{{/form-page-layout }}
