<form  action="/profile" className="profile-form" id="profile-form" ref="form" >
    <table class="profile-table profile__table profile-form__table profile-info__table" ref="table">
        <tbody>

        </tbody>
    </table>
    {{{ Button className="button profile-form__button" type="submit" text="Сохранить"}}}
</form>
