<form  action="/profile" className="profile-form" id="profile-form" ref="form" >
    {{{ Table className="profile-table profile__table profile-form__table profile-info__table" rows=formRows ref="table"  }}}
    {{{ Button className="button profile-form__button" type="submit" text="Сохранить"}}}
</form>
