<tr class="text-row-block">
    <td class="text-row text-row__td text-row__label">
        {{label}}
    </td>
    <td class="text-row text-row__td text-row__value">
        {{value}}
    </td>
</tr>
