<header class="messages-box-header messages-box__messages-box-header">
    <div class="messages-box-header__info">
        {{> chat-avatar addClass="messages-box-header__chat-avatar" avatarUrl="avatar.png" title="Имя пользователя"}}
        <h2 class="messages-box-header__header">Имя чата</h2>
    </div>
    {{{Button className="dots-button user-button message-box-header__user-button" id="user-button" type="button" text="Действия с пользователями"}}}
    {{#> custom-popup className="popup user-popup message-box-header__user-popup" id="user-popup"}}
        {{> popup-user-content}}
    {{/custom-popup}}
</header>
