.messages-box-header{
    border-bottom: var(--border);
    padding: 10px var(--padding);
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    position: relative;
}

.messages-box-header__info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.messages-box-header__chat-avatar{
    margin: 0;
    flex-shrink: 0;
}

.messages-box-header__header{
    margin: 0;
    color: var(--text-color);
    font-size: 24px;
}

.message-box-header__user-popup{
    left: auto;
    right: 40px;
    top: 60px;
}
