<tr class="text-row-block text-row-block--editable">
    <td class="text-row text-row__td text-row__td--editable text-row__label">
        {{> custom-label className="input-block__label text-row__label" for=name text=label }}
    </td>
    <td class="text-row text-row__td text-row__td--editable text-row__value">
        {{> custom-input className="input-block__input text-row__input" type=type name=name id=name value=value }}        
    </td>        
</tr>
<tr class="text-row-block text-row-block--error">
    <td class="text-row__error" colspan="2">
        <p class="input-block__error" id="js-{{name}}"></p>
    </td>
</tr>

