.modal-content{
    padding: 30px 40px;
    width: 320px;
}

.modal-content__header{
    margin-top: 0;
    font-size: 20px;
}

.modal__button-wrapper{
    position: relative;
    margin:30px 0 0;
}

@media (width <= 500px) {
    .modal-content{
        width: 90vw;
        padding: 30px 20px;
    }
}
