<section class="profile__section profile-info profile__profile-info" id="profile-edit-form">
    <div class="profile__container">
        {{#> custom-form  action="/profile" className="profile-form" id=currentForm}}
            <table class="profile-table profile__table profile-form__table profile-info__table">
                <tbody>
                    {{> text-row-editable label="Почта" value="pochta@yandex.ru" name="email"}}
                    {{> text-row-editable label="Логин" value="ivanivanov" name="login"}}
                    {{> text-row-editable label="Имя" value="Иван" name="first_name"}}
                    {{> text-row-editable label="Фамилия" value="Иванов" name="second_name"}}
                    {{> text-row-editable label="Имя в чате" value="Иван" name="display_name"}}
                    {{> text-row-editable label="Телефон" value="+7 (909) 967 30 30" name="phone"}}
                </tbody>
            </table>
            {{{ Button className="button profile-form__button" type="submit" text="Сохранить"}}}
        {{/custom-form}}
    </div>
</section>
