svg{
    flex-shrink: 0;
}

.popup__list{
    padding: 0;
    list-style-type:none;
    margin: 0;
}

.popup__item{
    margin: 0 0 10px;

    &--last{
        margin-bottom: 0;
    }
}

.popup__item:last-child{
    @extend .popup__item--last;
}

.popup__row{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;

    &--hover{
        color: var(--second-color);
    }
}

.popup__row:hover{
   @extend .popup__row--hover;
}



