<section class="message-send messages-box__message-send">
    <h2 class="visually-hidden message-send__header">Отправить сообщение</h2>
    {{#> custom-form className="message-send__form" action="./chat" method="POST" id="message-send-form"}}
        <div class="message-send__flex">
            {{> custom-button className="attache-button message-send__attache-button" id="attache-button" type="button" text="Прикрепить"}}
            {{> custom-textarea name="message" className="chat__input message-send__input" id="message" rows="1" placeholder="Сообщение"}}
            {{> custom-button className="blue-round-button message-send__button" type="submit" text="Отправить" id="attache-button"}}
        </div>
    {{/custom-form}}
    {{#> custom-popup className="popup attache-popup message-send__attache-popup" id="attache-popup"}}
        {{> popup-files-content}}
    {{/custom-popup}}
</section>
