 <div class="chat">
   {{> chat-sidebar}}
   {{#> chat-body}}
      {{#if isSelectedChat}}
         {{> messages-box}}
      {{else}}
         {{> no-messages}}
      {{/if}}
   {{/chat-body}}
 </div>
 <div class="modal-container" id="modal-container">
   {{#> custom-popup className="modal-popup" id="chat-modal"}}{{/custom-popup}}
 </div>
