<main class="error-page">
    <div class="error-page__container">
        <section class="error-block">
            <h1 class="error-block__header">{{code}}</h1>
            <p class="error-block__text">{{text}}</p>
            {{> custom-link className="link error-block__link" href="/" text="Назад к чатам" }}
        </section>
    </div>
</main>
