<div class="input-block {{block}}__input-block js-float-block">
    {{> custom-label className="input-block__label" for=name text=label}}
    {{> custom-input className="input-block__input js-float-input" type=type name=name id=name placeholder=label }}
    <p class="input-block__error" id="js-{{name}}"></p>
</div>
