{{#> form-page-layout}}
    <h1 class="form-header form-block__header">Регистрация</h1>
    {{{ RegistrationForm className="form" action="/" method="POST" id="registration-form" }}}

    <div class="form-block__link-wrapper">
        {{{ Link className="link form-block__link" href="/login" text="Есть аккаунт?" }}}
    </div>
{{/form-page-layout }}
