.message-item{
    background-color: var(--back-color);
    border: var(--border);
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    font-size: 14px;

    &--self{
        background-color: var(--selected-color);
        border-bottom-right-radius:0;
    }

    &__top{
        margin-bottom: 4px;
    }

    &__user{
        font-weight: 600;
        font-size: 11px;
        margin: 0;
    }

    &__content{
        margin-bottom: 6px;
    }

    &__bottom{
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        align-items: center;
    }

    &__file-block{
        margin:0 0 4px;
    }

    &__file{
        max-width: 330px;
    }

    &__time{
        &--self{
            color: var(--second-color);
        }
    }

    &__link{
        color: var(--second-color);
    }
}
