<ul class="popup__list popup-user__list">
    <li class="popup__item popup-user__item">
        {{#>extended-button className="popup__row" id="user-button-add"}} 
            {{> add-user-icon}}        
            <span class="popup__text">Добавить пользователя</span>
        {{/extended-button}}
    </li>
    <li class="popup__item popup-user__item"> 
        {{#>extended-button className="popup__row" id="user-button-delete"}}      
            {{> delete-user-icon}}
            <span class="popup__text">Удалить пользователя</span>
        {{/extended-button}}
    </li>
</ul>