<header class="chat-header">
    <div class="chat-header__link-wrapper">
        {{> custom-link className="link link--light" href="/profile" text="Профиль >" }}
    </div>
    {{> chat-search}}
</header>
