<div class="modal-content">
    <h2 class="modal-content__header">
        {{title}}
    </h2>
    {{#> custom-form className="form" action=action}}
        {{> input-block type="text" label="Логин" name="login" }}
        {{> custom-button className="button form-block__button form-block__button--last" type="submit" text=buttonText id="modal-user-button"}}
    {{/custom-form}}
</div>
