@import url("../text-row-block/text-row-block.css");

.text-row__td--editable{
    padding: 24px 0 0 0 ;
}

.text-row__value{
    position: relative;
}

.text-row__label{
    color: var(--text-color);
    font-size: 14px;
    padding-bottom: 4px;
}

.text-row__input{
    text-align: left;
    border-bottom-color: transparent;
    padding: 0 0 3px 0;

    &-focus{
        border-bottom-color: var(--second-color);
    }
}

.text-row__input:focus, .text-row__input:hover{
    @extend .text-row__input-focus;
}

.text-row__error{
    position: absolute;
    top: calc(100% + 4px);

}
