<tr class="text-row-block text-row-block--editable">
    <td class="text-row text-row__td text-row__td--editable text-row__label">
        {{{ Label className="input-block__label text-row__label" forEl=name text=label }}}
    </td>
    <td class="text-row text-row__td text-row__td--editable text-row__value">
        {{{
            Input className="input-block__input text-row__input"
            type=type name=name id=name value=value ref=name
            onValidate=onValidate cleanValidate=cleanValidate
        }}}
        {{{ ErrorMessage className="input-block__error text-row__error" id="js-{{name}}" ref="error" message=errorMessage }}}
    </td>
</tr>


