.messages-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.messages-box__messages-list{
    margin: 0;
}

.messages-box__messages-list-scroll{
    height: 100%;
    overflow: auto;
    flex: 1;
}

.messages-box__time{
    text-align: center;
}

.messages-box__loader{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.messages-box__loader-inner{
    animation: none;
    font-size: 14px;
    width: 100%;
    max-width: 400px;
}

.messages-box__loader .loader{
    @extend .messages-box__loader-inner;
}

