<div class="messages-box">
    {{> messages-box-header}}
    <div class="messages-box__messages-list-scroll">       
        {{> messages-list}}          
    </div>    
    {{> message-send}}  
</div>