<section class="profile__section profile-info profile__profile-info">
    <div class="profile__container">
        {{{Table className="profile-table profile__table profile-info__table" rows=tableRows ref="table"}}}
    </div>
</section>
