<section class="chat-search">
    <search>
        {{#> custom-form className="search-form" action="./chat" method="GET" id="search-form"}}
            {{> custom-input className="chat-search__input" type="search" placeholder="Поиск"}}
        {{/custom-form}}
    </search>
</section>
