{{#> sidebar block="profile" }}
    <nav class="profile-sidebar__nav">
        {{> custom-link className="blue-round-button blue-round-button--revert" href="/profile" text="Главная страница профиля" }}
    </nav>
{{/sidebar}}
